{% extends "app/base.html" %}

{% block content %}

<div style="max-width: 420px; margin: 24px auto;">


    <p>
        アカウント登録が<br>
        完了しました
    </p>

    <p>
        現在は「新人」として登録されています。
    </p>

    <p>
        「新人」として利用する場合は、<br>
        共有された組織コードを入力の上、<br>
        再度ログインしてください。
    </p>

    <p>
        「教育者」として利用する場合は、<br>
        管理者による教育者権限の設定が必要です。<br>
        権限設定後、共有された組織コードを入力の上、<br>
        再度ログインしてください。
    </p>

    <p>
        <a href="{% url 'login' %}">
            ログイン画面へ
        </a>
    </p>

</div>

{% endblock %}