<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン | KitchenRoute</title>
</head>
<body>
    <h1>KitchenRoute</h1>
    <h2>ログイン</h2>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>組織コード</label><br>
            <input type="text" name="organization_code">
        </div>

        <br>

        <div>
            <label>メールアドレス</label><br>
            <input type="text" name="username">
        </div>

        <br>

        <div>
            <label>パスワード</label><br>
            <input type="password" name="password">
        </div>

        <br>

        <button type="submit">
            ログイン
        </button>
    </form>
</body>
</html>
