{% extends "app/base.html" %}

{% block content %}

<div style="max-width: 320px; margin: 40px auto; text-align: center;">

    

    <p style="font-size: 22px; margin-bottom: 32px;">
        パスワード再設定メールを<br>
        送信しました
    </p>

    <p
        style="
            text-align: left;
            line-height: 1.8;
            margin-bottom: 28px;
        "
    >
        入力されたメールアドレス宛に、<br>
        パスワード再設定用のURLを送信しました。<br><br>

        メール本文に記載のURLから<br>
        パスワードの再設定を行ってください。
    </p>

    <a href="{% url 'login' %}">
        ログイン画面へ
    </a>

</div>

{% endblock %}