{% extends "app/base.html" %}

{% block content %}

<div style="max-width: 420px; margin: 24px auto;">

    <h1>KitchenRoute</h1>

    <h2>{{ trainee.username }} さんの進捗</h2>

    {% for recipe_item in recipe_progresses %}
        <div style="border: 1px solid #999; padding: 12px; margin-bottom: 12px;">

            <h3>{{ recipe_item.recipe.name }}</h3>

           {% for step_item in recipe_item.steps %}
    <div style="margin-bottom: 10px;">

        <div>
            No.{{ step_item.step.order }}
            {{ step_item.step.name }}

            {% if step_item.is_completed %}
                合格済み
            {% else %}
                未合格
            {% endif %}
        </div>

        {% if step_item.is_completed and step_item.progress.recorded_by %}
            <div style="font-size: 13px; color: #666;">
                合格登録者：
                {{ step_item.progress.recorded_by.username }}
            </div>
        {% endif %}

        {% if not step_item.is_completed %}
            <form
                method="post"
                action="{% url 'mark_step_passed' trainee.id step_item.step.id %}"
                style="display: inline; margin-top: 4px;"
            >
                {% csrf_token %}
                <button type="submit">
                    合格にする
                </button>
            </form>
        {% endif %}

        </div>
    {% endfor %}
        </div>
    {% endfor %}

</div>

{% endblock %}