{% extends "app/base.html" %}

{% block content %}

    <h2 style="text-align: center;">
        {{ user.username }}さんのタスク
    </h2>
    
    <p>{{ recipe.name }} の進捗　{{ progress_rate }}%</p>

    {% if steps %}
        {% for step in steps %}
            <p>
                No.{{ step.order }}
                {{ step.name }}

                {% if step.id in completed_step_ids %}
                    合格
                {% else %}
                    未
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>登録された工程はありません。</p>
    {% endif %}


{% endblock %}